<div class="player-area {{position}}">
  <div class="player-name">
    <span>{{ player.name }}</span>
    <mat-icon
      aria-hidden="false"
      class="{{ status$ | async }}"
      [fontIcon]="getPlayerStatus() | async"
    />
  </div>
  <div
    cdkDropList
    class="player-hand"
    id="playerHand"
    cdkDropListOrientation="horizontal"
    #playerHand="cdkDropList"
    [cdkDropListData]="playerCards"
    [cdkDropListConnectedTo]="[]"
  >
    <card
      class="card"
      *ngFor="let card of playerCards"
      cdkDrag
      [data]="card"
      [flip]="card.id ? 'up' : 'down'"
    />
  </div>
</div>