<div class="cloth">
  <div class="top-area">
    <div *ngFor="let topPlayer of playersOnTheTop" class="player-area">
      <div class="player-name">{{topPlayer.name}}<span>{{ (getPlayerStatus(topPlayer._id) | async) }}</span></div>
      <div class="player-hand"></div>
    </div>
  </div>
  <div class="mid-area">
    <div class="left-area">
      <div *ngFor="let leftPlayer of playersOnTheLeft" class="player-area">
        <div class="player-name">{{leftPlayer.name}}<span>{{ (getPlayerStatus(leftPlayer._id) | async) }}</span></div>
        <div class="player-hand"></div>
      </div>
    </div>
    <div class="center-area">
      <div #mainPile="cdkDropList" class="pile" cdkDropList [cdkDropListConnectedTo]="[playerHand]"
        [cdkDropListData]="pile" cdkDropListSortingDisabled id="mainPile"
        (cdkDropListDropped)="dropBackToMainPile($event)">
        <div appCard *ngFor="let listCard of pile; last as lastCard" class="card"
          [flip]="listCard.id ? 'up' : 'down'" [data]="listCard" cdkDrag [cdkDragDisabled]="!lastCard"
          (cdkDragStarted)="drawFromMainPile($event, listCard)"></div>
      </div>
      <div #discardPile="cdkDropList" class="pile discard" cdkDropList cdkDropListSortingDisabled
        id="discardPile" [cdkDropListConnectedTo]="[playerHand]" [cdkDropListData]="discard"
        (cdkDropListDropped)="dropToDiscard($event)">
        <div appCard *ngFor="let listCard of discard; last as lastCard" class="card" [data]="listCard"
          cdkDrag [cdkDragDisabled]="!lastCard"></div>
      </div>
    </div>
    <div class="right-area">
      <div *ngFor="let rightPlayer of playersOnTheRight" class="player-area">
        <div class="player-hand"></div>
        <div class="player-name">{{rightPlayer.name}}<span>{{ (getPlayerStatus(rightPlayer._id) | async) }}</span></div>
      </div>
    </div>
  </div>
  <div class="bottom-area player-area">
    <div class="player-hand"  #playerHand="cdkDropList" cdkDropList id="playerHand"
      cdkDropListOrientation="horizontal" [cdkDropListData]="playerCards"
      [cdkDropListConnectedTo]="[discardPile]" (cdkDropListDropped)="dropToPlayerHand($event)">
      <div appCard class="card" *ngFor="let card of playerCards" cdkDrag [data]="card"
        [flip]="card.id ? 'up' : 'down'"></div>
    </div>
    <div class="player-name"><span>{{ (getPlayerStatus() | async) }}</span>{{ playerName }}</div>
  </div>
</div>
