<div class="cloth">
  <div class="top-area">
    <player-area
      *ngFor="let topPlayer of playersOnTheTop"
      position="top"
      [player]="topPlayer"
    />
  </div>
  <div class="mid-area">
    <div class="left-area">
      <player-area
        *ngFor="let leftPlayer of playersOnTheLeft"
        position="left"
        [player]="leftPlayer"
      />
    </div>
    <div class="center-area">
      <div
        cdkDropList
        class="pile"
        cdkDropListSortingDisabled
        id="mainPile"
        #mainPile="cdkDropList"
        [cdkDropListConnectedTo]="[playerHand]"
        [cdkDropListData]="pile"
        (cdkDropListDropped)="dropBackToMainPile($event)"
      >
        <card 
          *ngFor="let listCard of pile; last as lastCard"
          cdkDrag
          class="card"
          [flip]="listCard.id ? 'up' : 'down'"
          [data]="listCard"
          [cdkDragDisabled]="!lastCard"
          (cdkDragStarted)="drawFromMainPile($event, listCard)"
        />
      </div>
      <div
        cdkDropList
        class="pile discard"
        cdkDropListSortingDisabled
        id="discardPile"
        #discardPile="cdkDropList"
        [cdkDropListConnectedTo]="[playerHand]"
        [cdkDropListData]="discard"
        (cdkDropListDropped)="dropToDiscard($event)"
      >
        <card
          *ngFor="let listCard of discard; last as lastCard"
          cdkDrag
          class="card"
          [data]="listCard"
          [cdkDragDisabled]="!lastCard"
        />
      </div>
    </div>
    <div class="right-area">
      <player-area
        *ngFor="let rightPlayer of playersOnTheRight"
        position="right"
        [player]="rightPlayer"
        (playerHand)="setPlayerHand($event)"
      />
    </div>
  </div>
  <div class="bottom-area">
    <player-area
      *ngIf="userPlayer"
      position="bottom"
      [player]="userPlayer"
    />
  </div>
</div>
