.main-section {
  display: flex;
  flex-direction: column;
  border: solid 6px #DDDDDD99;
  border-radius: 20px;
  width: 400px;
  padding: 1vw;
  margin-left: auto;
  margin-right: auto;

  .user-data-section, 
  .existing-matches-section {
    flex-direction: column;
  }

  section {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    height: 48px;
    margin-left: auto;
  }
}